<h1>This is where the User's Codes will display</h1>
<a href="http://localhost:4000/codes/new">New</a>
<ul>
    <% codes.forEach(code => { %>
        <li>
            <h1 class="text-danger"><%= code.title %> </h1>
            <img src="<%= code.codeUrl %>" alt="qr code" srcset="">
            <p><%= code.description %> </p>
            <a href="http://localhost:4000/codes/edit/<%= code._id %>">Edit</a>
            <form action="/codes/<%= code._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
        </li>
    <% }) %>
</ul>

