<%- include('../partials/header.ejs') %>
<%- include('../partials/footer.ejs') %>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-3">
        <form action="/users/login" method="post">
            <% if (err == "Email or Password is incorrect") { %>
                <div class="alert alert-dismissible alert-primary">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong><%= err %> </strong>
                  </div>
            <% } else if (err == "Incorrect Password") { %>
                <div class="alert alert-dismissible alert-primary p-3">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong><%= err %> </strong>
                  </div>
                  <% } %>
            <div class="form-group mx-auto">
                <label for="inputEmail" class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" name="email" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group mx-auto">
                <label for="inputPassword" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            <div class="d-grid gap-2 p-3">
            <input class="btn btn-large btn-primary" type="submit" value="Login">
        </div>
        </form> 
        </div>
    </div>
</div>

<%- include('../partials/footer') -%> 






 
 
